<Centered>
	<div class="text-center">
		<h1>
			Pick your spreadsheet
		</h1>
		<p>
			Paste in the link to the spreadsheet:
		</p>
		{{#if loadingSpreadsheet}}
			<strong>Loading...</strong>
		{{else}}
			<p>
				<form class="pure-form">
					<input
						type="text"
						class="big-text"
						ref:spreadsheetUrl
						bind:value="link"
						on:input="handleLink(link)"
					>
				</form>
			</p>
		{{/if}}
	</div>
</Centered>

<script>
// https://docs.google.com/spreadsheets/d/1gtpi3iWO_ypLzTDvgfedt4un9PxqgjH-g1M8mwr_85M/edit#gid=1885023306
export default {
	data() {
		return {
			link: '',
			loadingSpreadsheet: false
		}
	},
	onrender() {
		this.refs.spreadsheetUrl.focus()
	},
	methods: {
		handleLink(link) {
			const match = /\/d\/([^/]+)/.exec(link)
			if (match) {
				const spreadsheetId = match[1]
				this.set({
					loadingSpreadsheet: true
				})
				this.get('call')('stateGo', 'app.viewSpreadsheet', { spreadsheetId })
			}
		}
	},
	components: {
		Centered: require('component/centeredContent.html')
	}
}
</script>
