#container {
	padding: 1em;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.vertical-center {
	align-items: center;
}

.horizontal-center {
	justify-content: center;
}

.pad-sides {
	padding-left: 16px;
	padding-right: 16px;
}

.pad-vertical {
	padding-top: 4px;
	padding-bottom: 4px;
}


.page {
	page-break-after: always;
}

@media print {
	.no-print {
		display: none;
	}
}
