<Centered>
	<h1>Spreadsheet page breaks</h1>
	<p>
		<button on:click="beginAuth()" class="pure-button pure-button-primary big-text authenticate-button">
			Click here to authenticate with Google Docs
		</button>
	</p>
</Centered>

<style>
.authenticate-button {
	padding: 2em;
}
</style>

<script>
export default {
	methods: {
		beginAuth() {
			this.get('call')('gapi:signIn').then(response => {
				this.get('call')('stateGo', 'app.selectSpreadsheet')
			}, error => {
				console.log('error', error)
			})
		}
	},
	components: {
		Centered: require('./centeredContent.html')
	}
}
</script>
